*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 20px 0;
}

@media screen and (min-width: 1280px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo__img {
  margin-right: 5px;
}

.header .logo__name {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #76c476;
  font-size: 1.5rem;
}

@media screen and (min-width: 411px) {
  .header .logo__name {
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 768px) {
  .header .logo__name {
    font-size: 3.3rem;
  }
}

@media screen and (min-width: 1280px) {
  .header .logo__name {
    font-size: 2.4rem;
  }
}

.header__menu {
  padding: 10px 0;
}

@media screen and (min-width: 1280px) {
  .header__menu {
    width: 50%;
  }
}

.header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  list-style: none;
}

@media screen and (min-width: 1024px) {
  .header__menu .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0;
  }
}

.header__menu .menu__list .menu__item {
  padding: 5px 0;
  text-align: center;
}

.header__menu .menu__list .menu__item .menu__link {
  display: block;
  color: #555;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 411px) {
  .header__menu .menu__list .menu__item .menu__link {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .header__menu .menu__list .menu__item .menu__link {
    font-size: 2.2rem;
    line-height: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .header__menu .menu__list .menu__item .menu__link {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
}

@media screen and (min-width: 1280px) {
  .header__menu .menu__list .menu__item .menu__link {
    font-size: 2rem;
  }
}

.header__menu .menu__list .menu__item .menu__link:hover {
  color: #64a764;
}

.banner-main {
  max-width: 100%;
  background: url("../img/header-bg.jpg") no-repeat center/cover;
}

.banner {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (orientation: landscape) {
  .banner {
    height: 70vh;
  }
}

.banner__title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  font-size: 2.8rem;
  width: 80%;
  text-align: center;
}

@media screen and (min-width: 411px) {
  .banner__title {
    font-size: 3.3rem;
    line-height: 4.2rem;
  }
}

@media screen and (min-width: 768px) {
  .banner__title {
    font-size: 4.5rem;
    line-height: 5.3rem;
  }
}

.banner__desc {
  font-size: 1.5rem;
  color: #aaa;
  margin: 30px 0;
}

@media screen and (min-width: 768px) {
  .banner__desc {
    font-size: 2rem;
  }
}

.banner .btn {
  background-color: #76c476;
  color: #fff;
  border-radius: 50px;
  border-style: none;
  text-transform: uppercase;
}

.banner .btn:hover {
  background-color: #58b358;
  cursor: pointer;
}

.banner .btn:focus {
  outline-style: none;
}

.banner__btn {
  padding: 10px 15px;
  font-size: .8rem;
}

@media screen and (min-width: 411px) {
  .banner__btn {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .banner__btn {
    font-size: 1.5rem;
  }
}

.gear {
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .gear {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

.gear .gear-img-container {
  display: none;
  position: relative;
  background-color: #eee;
  z-index: -1;
}

.gear .gear-img-container .gear__img {
  max-width: 100%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .gear .gear-img-container {
    display: block;
  }
}

.gear .banner-gear {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: url("../img/section-gear-image.jpg") no-repeat center/cover;
  padding: 40px 30px;
  height: 90vh;
}

@media screen and (min-width: 360px) {
  .gear .banner-gear {
    height: 70vh;
  }
}

@media screen and (min-width: 768px) {
  .gear .banner-gear {
    height: 60vh;
  }
}

@media screen and (min-width: 1024px) {
  .gear .banner-gear {
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}

@media screen and (min-width: 1024px) and (min-height: 1366px) {
  .gear .banner-gear {
    height: 50vh;
  }
}

@media screen and (orientation: landscape) and (min-width: 400px) {
  .gear .banner-gear {
    height: 125vh;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .gear .banner-gear {
    height: 100vh;
  }
}

.gear .banner-gear .banner__title {
  text-align: left;
  padding-bottom: 30px;
}

.gear .banner-gear .banner__title .green-letter {
  color: #64a764;
}

.gear .banner-gear .banner__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  text-align: left;
  margin: 5px 0;
  width: 80%;
}

@media screen and (min-width: 1024px) {
  .gear .banner-gear .banner__desc {
    font-size: 2rem;
    margin: 15px 0;
  }
}

.gear .banner-gear .banner__desc .checkmark-img {
  margin-right: 10px;
}

.gear .banner-gear .banner__btn {
  margin-top: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section {
  width: 100%;
}

.section__header {
  padding: 30px 0;
  text-align: center;
}

.section__title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #111;
  font-size: 2rem;
  letter-spacing: 0;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .section__title {
    font-size: 3.8rem;
    padding-top: 50px;
  }
}

.section__subtitle {
  color: #aaa;
  font-size: 1.2rem;
  line-height: 2rem;
}

@media screen and (min-width: 768px) {
  .section__subtitle {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .section__subtitle {
    font-size: 2.4rem;
    line-height: 5rem;
  }
}

.section__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

@media screen and (min-width: 1024px) {
  .section__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    padding-bottom: 50px;
  }
}

.section__body .content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.section__body .content__box .img-container .content__img {
  width: 100%;
}

.section__body .content__box .content__title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #111;
  font-size: 1.4rem;
  padding: 10px 0;
  letter-spacing: 0;
}

@media screen and (min-width: 768px) {
  .section__body .content__box .content__title {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1024px) {
  .section__body .content__box .content__title {
    font-size: 2rem;
    padding-top: 40px;
  }
}

.section__body .content__box .content__subtitle {
  color: #aaa;
  width: 60%;
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section__body .content__box .content__subtitle {
    font-size: 1.6rem;
  }
}

@media screen and (min-width: 1024px) {
  .section__body .content__box .content__subtitle {
    font-size: 1.8rem;
    width: 80%;
  }
}

.seection-project {
  background: url(../img/ipad.png) no-repeat center 100%/80%;
}

@media screen and (orientation: landscape) {
  .seection-project {
    background-position: 150% 80%;
    background-size: 60%;
  }
}

@media screen and (orientation: landscape) and (min-width: 1400px) {
  .seection-project {
    background-position: 100% 100%;
    background-size: 50%;
  }
}

.seection-project .section__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .seection-project .section__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (orientation: landscape) {
  .seection-project .section__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.seection-project .section__body .content__header {
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .seection-project .section__body .content__header {
    text-align: left;
  }
}

@media screen and (orientation: landscape) {
  .seection-project .section__body .content__header {
    text-align: left;
  }
}

.seection-project .section__body .content__header .content__title {
  padding-bottom: 10px;
  font-size: 1.8rem;
}

@media screen and (min-width: 1024px) {
  .seection-project .section__body .content__header .content__subtitle {
    font-size: 1.6rem;
  }
}

.seection-project .section__body .content__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

@media screen and (min-width: 1024px) {
  .seection-project .section__body .content__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
    width: 50%;
  }
}

@media screen and (orientation: landscape) {
  .seection-project .section__body .content__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
    width: 60%;
  }
}

.seection-project .section__body .content__desc .content__img {
  padding: 10px 0;
  height: 100%;
}

.seection-project .section__body .content__desc .desc-container {
  margin-left: 10px;
}

.seection-project .section__body .content__desc .desc-container .content__title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #111;
  font-size: 1.4rem;
}

@media screen and (min-width: 1024px) {
  .seection-project .section__body .content__desc .desc-container .content__title {
    font-size: 1.6rem;
  }
}

.seection-project .section__body .content__desc .desc-container .content__subtitle {
  color: #aaa;
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .seection-project .section__body .content__desc .desc-container .content__subtitle {
    text-align: left;
    font-size: 1.4rem;
  }
}

@media screen and (orientation: landscape) {
  .seection-project .section__body .content__desc .desc-container .content__subtitle {
    text-align: left;
  }
}

.seection-project .section__body .content__subtitle {
  color: #aaa;
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .seection-project .section__body .content__subtitle {
    font-size: 1.6rem;
  }
}

.seection-project .section__body .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 20px;
}

.seection-project .section__body .link-container .project-link {
  color: #64a764;
  text-decoration: none;
  font-size: 1.4rem;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}

.seection-project .section__body .link-container .project-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #58b358;
  position: absolute;
  bottom: 0;
  left: 0;
}

.seection-project .section__body .link-container .project-link:hover {
  color: #3c8b3c;
}

@media screen and (min-width: 1024px) {
  .seection-project .section__body .link-container .project-link {
    font-size: 2.4rem;
  }
}

.seection-project .section__body .link-container .arrow {
  height: 1.2rem;
  margin-left: 5px;
}
/*# sourceMappingURL=styles.css.map */