*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.header .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 20px 0;
}

.header .nav-container .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.header .nav-container .header__logo .header__logo-img {
  margin-right: 5px;
}

.header .nav-container .header__logo .header__logo-name {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #76c476;
  font-size: 1.5rem;
}

.header .nav-container .header__nav {
  padding: 10px 0;
}

.header .nav-container .header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  list-style: none;
  text-align: center;
}

.header .nav-container .header__nav ul li {
  padding: 5px 0;
}

.header .nav-container .header__nav ul li a {
  display: block;
  color: #555;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
}

.header .nav-container .header__nav ul li a:hover {
  color: #64a764;
}

.header .header__banner {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/header-bg.jpg") no-repeat center/cover;
}

.header .header__banner .header__banner__title {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  font-size: 2.8rem;
  width: 50%;
  text-align: center;
}

.header .header__banner .header__banner__desc {
  font-size: 1.5rem;
  color: #64a764;
  margin: 30px 0;
}

.header .header__banner .header__banner__btn {
  background-color: #76c476;
  color: #fff;
  border-radius: 50px;
  border-style: none;
  text-transform: uppercase;
  padding: 10px 15px;
  font-size: .8rem;
}
/*# sourceMappingURL=styles.css.map */