.banner-main {
    max-width: 100%;
    background: url('../img/header-bg.jpg') no-repeat center/cover;
}

.banner {
    width: 100%;
    height: 50vh;
    @include flex-stack(center, center, column);


    @include landmQ() {
        height: 70vh;
    }

    &__title {
        @include section-heading(map-get($colors, secondary), 2.8rem);
        width: 80%;
        text-align: center;

        @include mQ(411px) {
            font-size: 3.3rem;
            line-height: 4.2rem;
        }

        @include mQ(768px) {
            font-size: 4.5rem;
            line-height: 5.3rem;
        }
    }

    &__desc {
        font-size: 1.5rem;
        color: map-get($colors, desc);
        margin: 30px 0;

        @include mQ(768px) {
            font-size: 2rem;
        }
    }

    .btn {
        @include btn-stack();

        &:hover {
            background-color: #58b358;
            cursor: pointer;
        }

        &:focus {
            outline-style: none;
        }
    }

    &__btn {
        padding: 10px 15px;
        font-size: .8rem;

        @include mQ(411px) {
            font-size: 1rem;
        }

        @include mQ(768px) {
            font-size: 1.5rem;
        }
    }
}

.gear {
    width: 100%;

    @include mQ(1024px) {
        @include flex-stack(flex-start, stretch);
    }

    .gear-img-container {
        display: none;
        position: relative;
        background-color: #eee;
        z-index: -1;

        .gear__img {
            max-width: 100%;
            transform: translate(50%, 50%);
            width: 100%;
        }

        @include mQ(1024px) {
            display: block;
        }
    }

    .banner-gear {
        @include flex-stack(center, stretch, column);
        background: url('../img/section-gear-image.jpg') no-repeat center/cover;
        padding: 40px 30px;
        height: 90vh;

        @include mQ(360px) {
            height: 70vh;
        }

        @include mQ(768px) {
            height: 60vh;
        }

        @include mQ(1024px) {
            height: 70vh;
            @include flex-stack(center, stretch, column);
        }

        @include mQboth(1024px, 1366px) {
            height: 50vh;
        }

        @include landmQboth(400px) {
            height: 125vh;
        }

        @include landmQboth(1024px) {
            height: 100vh;
        }

        .banner__title {
            text-align: left;
            padding-bottom: 30px;

            .green-letter {
                color: map-get($colors, extra);
            }
        }

        .banner__desc {
            @include flex-stack(flex-start, center);
            font-size: 1.2rem;
            text-align: left;
            margin: 5px 0;
            width: 80%;

            @include mQ(1024px) {
                font-size: 2rem;
                margin: 15px 0;
            }


            .checkmark-img {
                margin-right: 10px;
            }

        }

        .banner__btn {
            margin-top: 20px;
            align-self: center;
        }
    }
}