.banner-main {
    background: url('../img/header-bg.jpg') no-repeat center/cover;
}

.banner {
    height: 50vh;
    @include flex-stack(center, center, column);


    @include landmQ() {
        height: 70vh;
    }

    &__title {
        @include section-heading(map-get($colors, secondary), 2.8rem);
        width: 80%;
        text-align: center;

        @include mQ(411px) {
            font-size: 3.3rem;
            line-height: 4.2rem;
        }

        @include mQ(768px) {
            font-size: 4.5rem;
            line-height: 5.3rem;
        }
    }

    &__desc {
        font-size: 1.5rem;
        color: map-get($colors, desc);
        margin: 30px 0;

        @include mQ(768px) {
            font-size: 2rem;
        }
    }

    &__btn {
        @include btn-stack();
        padding: 10px 15px;
        font-size: .8rem;

        @include mQ(411px) {
            font-size: 1rem;
        }

        @include mQ(768px) {
            font-size: 1.5rem;
        }
    }
}

.gear {
    width: 100%;

    .img-container {
        display: none;

        .gear-img {}
    }

    .banner-gear {
        @include flex-stack(flex-start, stretch, column);
        background: url('../img/section-gear-image.jpg') no-repeat center/cover;
        padding: 40px 30px;
        height: 70vh;

        .banner__title {
            text-align: left;
            padding-bottom: 30px;

            .green-letter {
                color: map-get($colors, extra);
            }
        }

        .banner__desc {
            @include flex-stack(flex-start, center);
            font-size: 1.2rem;
            text-align: left;
            margin: 5px 0;
            width: 80%;

            .checkmark-img {
                margin-right: 10px;
            }
        }

        .banner__btn {
            margin-top: 20px;
            align-self: center;
        }
    }
}