.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}


.header {
    width: 100%;
    @include flex-stack(flex-start, stretch, column);
    padding: 20px 0;


    .logo {
        @include flex-stack(center, center);

        &__img {
            margin-right: 5px;
        }

        &__name {
            @include section-heading(map-get($colors, btn), 1.5rem);

            @include mQ(411px) {
                font-size: 2.3rem;
            }

            @include mQ(768px) {
                font-size: 3.3rem;
            }
        }
    }


    &__menu {
        padding: 10px 0;

        .menu {
            &__list {
                @include flex-stack(space-between, stretch, column);
                list-style: none;

                @include mQ(1280px) {
                    @include flex-stack(space-around, center);
                    padding: 20px 0;
                }

                .menu__item {
                    padding: 5px 0;
                    text-align: center;

                    .menu__link {
                        display: block;
                        color: map-get($colors, desc);
                        font-size: 1.3rem;
                        text-decoration: none;
                        text-transform: uppercase;

                        @include mQ(411px) {
                            font-size: 1.6rem;
                            line-height: 2.5rem;
                        }

                        @include mQ(768px) {
                            font-size: 2.2rem;
                            line-height: 3rem;
                        }

                        @include mQ(1024px) {
                            font-size: 2.5rem;
                            line-height: 3.2rem;
                        }

                        &:hover {
                            color: map-get($colors, extra);
                        }
                    }
                }
            }
        }
    }
}