@function color($colors-name) {
    @return map-get($colors, $colors-name)
}

@mixin section-heading ($color-heading, $font-heading) {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    color: $color-heading;
    font-size: $font-heading;
}

@mixin flex-stack($display, $direction, $justify, $align) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin btn-stack() {
    background-color: map-get($colors, btn);
    color: map-get($colors, secondary);
    border-radius: 50px;
    border-style: none;
    text-transform: uppercase;
}